@use 'mantine' as mantine;

#root {
  container: root / size;
}

.clickable {
  cursor: pointer;
}

.blur {
  @include mantine.light {
    background: rgba(255, 255, 255, 0.5);
  }
  @include mantine.dark {
    background: rgba(28, 28, 30, 0.7);
  }

  backdrop-filter: blur(10px);
}

$anchor-radius: 8px;

.left-anchored {
  border-top-right-radius: $anchor-radius;
  border-bottom-right-radius: $anchor-radius;
}

.right-anchored {
  border-top-left-radius: $anchor-radius;
  border-bottom-left-radius: $anchor-radius;
}